<div class="sf-contener block1-block">

    <div class="title">
        <h2></h3>
    </div>
    
 
    <div class="jtblock-slider">
        {foreach from=$data key=num item=value}
        <div class="item">
            <div class="img">
                <a href="{$value.link}">
                    <img src="{$value.src_img}" alt="{$value.name}">
                </a>
                <div class="title">
                    {$value.name}
                </div>
            </div>
        </div>
        {/foreach}
    </div>

   

    
    
</div>

